@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --Soft-blue-: hsl(215, 51%, 70%);
    --Cyan-: hsl(178, 100%, 50%);
    --CyanBG-: hsl(178, 100%, 50% , 0.5);
    --Very-dark-blue-: hsl(217, 54%, 11%); /* (main BG) */
    --Very-dark-blue-: hsl(216, 50%, 16%); /* (card BG) */
    --Very-dark-blue-: hsl(215, 32%, 27%); /* (line) */
    --White- : hsl(0, 0%, 100%);
}